<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" >
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <title>
        {% block title %}
            Base
        {% endblock %}
    </title>
</head>
<body>
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
          <div class="col-md-3 mb-2 mb-md-0">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
              <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
            </a>
          </div>

          <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
            <li><a href="/greet/Dax/" class="nav-link px-2">Variable</a></li>
            <li><a href="/user/?name=John&surname=Gorbunov" class="nav-link px-2">Query</a></li>
            <li><a href="/status/" class="nav-link px-2">Status</a></li>
            <li><a href="/power/?x=7&y=3" class="nav-link px-2">Power</a></li>
            <li><a href="/divide-by-zero/" class="nav-link px-2">Исключения</a></li>
            <li><a href="/hello/Dax" class="nav-link px-2">Hello</a></li>
<!--            <li><a href="/users/" class="nav-link px-2">Users</a></li>-->
            <li><a href="/articles/" class="nav-link px-2">Articles</a></li>
          </ul>

          <div class="col-md-3 text-end">
              {% if current_user.is_authenticated %}
                <span class="mx-auto p-2">Здравствуйте, {{ current_user.login }}!</span>
                <a href="/users/logout" class="btn btn-outline-primary me-2">Logout</a>
              {% else %}
                <a href="/users/login" class="btn btn-outline-primary me-2">Login</a>
              {% endif %}
          </div>
        </header>
    </div>

    <div class="container">
        {% block body %}
            Hello base!
        {% endblock %}
    </div>

</body>
</html>